{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}  {% endblock %}</h1>
    <p>
        <ul>
            <h3>
            <li><a href="/">O mnie</a></li>
            <li><a href="kontakt">Kontakt</a></li>
            </h3>
        </ul>
    </p>
    <h4><li>Email:</li></h4>
    <h4><li>Telefon:</li></h4>
    <form>
        <label for="Imię">Imię</label>
    <br>
    <input name="Imię"
           placeholder="Twoje imie"
           value="{{ request.form['title'] }}"></input>
    <br>

    <label for="content">Wiadomość</label>
    <br>
    <textarea name="content"
              placeholder="Wiadomość"
              rows="15"
              cols="60"
              >{{ request.form['content'] }}</textarea>
    <br>
    <button type="submit">Submit</button>
    </form> 
{% endblock %}


<form method="post">
    
</form>