{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}  {% endblock %}</h1>
    <p>
        <ul>
            <h3>
            <li><a href="/">O mnie</a></li>
            <li><a href="kontakt">Kontakt</a></li>
            </h3>
        </ul>
    </p>
    <h4><li>Email:</li></h4>
    <h4><li>Telefon:</li></h4>
    <form>
        <label for="title">Title</label>
    <br>
    <input name="title"
           placeholder="Message title"
           value="{{ request.form['title'] }}"></input>
    <br>

    <label for="content">Message Content</label>
    <br>
    <textarea name="content"
              placeholder="Message content"
              rows="15"
              cols="60"
              >{{ request.form['content'] }}</textarea>
    <br>
    <button type="submit">Submit</button>
    </form>
{% endblock %}


<form method="post">
    
</form>